/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer.site-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	background-color: var(--NeutralFive);
	padding: 75px 25px;
	& > .block {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& > .block {
			width: 25%;
			@media (--768vp) {
				width: 40%;
				&:first-child {
					width: 100%;
					text-align: center;
				}
				&:nth-child(2) h5:first-child {
					margin-top: 0;
				}
			}
			@media (--515vp) {
				width: 100%;
			}
			& > img {
				height: 75px;
				margin-bottom: 1.5em;
			}
			&:first-child h5 {
				margin-bottom: 0;
			}
			& h5:first-child {
				margin-top: 0;
				@media (--515vp) {
					margin: 3em 0 .75em;
				}
			}
			& address {
				@media (--768vp) {
					display: none;
				}
			}
		}
	}
	& h5 {
		color: var(--PrimaryThree);
		margin: 3em 0 .75em 0;
	}
	& p {
		margin: .5em 0 0 0;
	}
	& ul.menu {
		padding: 0;
		margin: 0;
		list-style: none;
		& li {
			padding: 0;
		}
	}
	& a {
		color: var(--NeutralOne);
	}
	& span {
		color: var(--PrimaryThree);
	}
	& address {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		font-style: normal;
	}
}


/*-----------------------------------------
    COPYRIGHT
-----------------------------------------*/
.copyright {
	width: 100%;
	background-color: black;
	padding: 0 25px;
	position: relative;
	z-index: 2;
	& > .block {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		& p {
			color: var(--NeutralOne);
			@media (--768vp) {
				text-align: center;
				width: 100%;
			}
		}
		& ul.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			@media (--768vp) {
				flex-wrap: wrap;
				justify-content: center;
			}
			& li {
				padding: .5em 0;
				margin-bottom: 0;
				&:last-child a {
					border-right: 0;
				}
				& a {
					padding: 0 .5em;
					border-right: 1px solid var(--NeutralOne);
					color: var(--NeutralOne);
				}
			}
		}
	}
}
/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	position: absolute;
	right: 0;
	bottom: 3em;
	width: 170px;
	height: 45px;
	padding-left: 170px;
	overflow: hidden;
	transition: all .5s ease-in-out;
	&[data-emergence=visible] {
		padding-left: 0;
	}
	& img {
		box-shadow: 0px 0px 10px black;
	}
}