/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/
nav.nav-primary {
	width: 90vw;
	margin: 0 0 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
	position: absolute;
	right: 0;
	z-index: 10000;
	@media (--1024vp) {
		width: 90vw;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
	&.affixed {
		position: fixed;
		width: 80vw;
		right: 10vw;
		left: 10vw;
		top: 8px;
		transition: top 1s linear;
		@media (--1200vp) {
			width: 98vw;
			right: 1vw;
			left: 1vw;
		}
		@media (--768vp) {
			width: 97vw;
			left: 50%;
			right: auto;
			transform: translateX(-50%);
		}
		& .nav_inner {
			background-color: var(--NeutralFive);
			border-radius: 3px;
			padding: 16px 36px;
			width: 100% !important;
			@media ( --768vp ) {
				padding: 1rem 1rem;
			}
			& .top-nav {
				display: none;
			}
			& ul {
				@media ( --768vp ) {
					top: -8px;
				}
			}
		}
	}
	& .nav_inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		width: 100%;
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: inline-block;
			overflow: hidden;
			@media (--1024vp) {
				position: fixed;
				left: -1.5vw;
				right: -1.5vw;
				top: 0;
				background: var(--NeutralFive);
				max-height: 0;
				height: 100vh;
				padding-top: 0;
				transition: all .5s linear;
				&.is-active {
					max-height: 100vh;
					padding-top: 120px;
				}
			}
			& li {
				display: inline-block;
				padding: 0 20px;
				margin-bottom: 0;
				background-color: var(--NeutralFive);
				transition: all .25s ease-in-out;
				@media (--1024vp) {
					width: 100%;
					text-align: center;
					padding: 1px 10vw !important;
					background-color: transparent !important;
				}
				&:first-child {
					padding: 0 20px 0 40px;
				}
				&:nth-last-child(2) {
					padding: 0 40px 0 20px;
				}
				&:last-child {
					background-color: var(--PrimaryTwo);
					&:hover, &:focus {
						background-color: var(--PrimaryOne);
					}
					& a {
						border: none;
						padding: 19px 0;
						@media (--1024vp) {
							padding: .75em 0;
							border-bottom: 5px solid var(--NeutralFive);
							&:hover, &:focus {
								border-color: var(--PrimaryOne);
							}
						}
					}
				}
				&.active a {
					border-color: var(--PrimaryOne);
				}
				& a {
					display: block;
					padding: 19px 0 14px 0;
					color: var(--NeutralOne);
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 300;
					font-size: 16px;
					border-bottom: 5px solid var(--NeutralFive);
					transition: all .25s ease-in-out;
					&:hover, &:focus {
						border-color: var(--PrimaryOne);
					}
					@media (--1024vp) {
						padding: .75em 0;
					}
				}
			}
		}
	}
}
/*-----------------------------------------
    HAMBURGER MENU
-----------------------------------------*/
.hamburger {
  padding: 8px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: var(--PrimaryTwo);
  border: 0;
  margin: 0;
  overflow: visible; 
	outline: none;
	z-index: 2;
	transition: all .5s linear; 
	&.is-active {
		background-color: transparent;
	}
}
.hamburger-box {
	width: 30px;
	height: 25px;
  display: inline-block;
  position: relative; 
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; 
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 100%;
	height: 3px;
	background-color: var(--NeutralOne);
	border-radius: 3px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease; 
}
.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}
.hamburger-inner::before {
	top: -10px; 
}
.hamburger-inner::after {
	bottom: -10px; 
}
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--collapse .hamburger-inner::after {
	top: -20px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
}
.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}
.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
}
.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-90deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
}

/*-----------------------------------------
    PRIMARY LOGO
-----------------------------------------*/
a.brand {
	text-decoration: none;
	z-index: 2;
	& img, & svg {
		height: 70px;
	}
	@media (--768vp) {
		display: block;
		margin: 0;
	}
}
/*-----------------------------------------
    TOP NAVIGATION
-----------------------------------------*/
.top-nav {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	animation-name: unsticky;
	animation-duration: 2s;
	@media (--1024vp) {
		justify-content: space-between;
		border-bottom: 1px solid var(--NeutralOne);
		margin-bottom: 6px;
	}
	& a {
		padding: 4px 12px;
		border-right: 1px solid var(--NeutralOne);
		color: var(--NeutralOne);
		text-transform: uppercase;
		text-decoration: none;
		@media (--1024vp) {
			border: none;
			padding: 4px 0;
		}
		&:last-child {
			border: none;
		}
		& svg {
			width: 1em;
			height: 1em;
			fill: var(--NeutralOne);
		}
		&.phone {
			@media (--1024vp) {
				display: none;
			}
		}
	}
}
/*-----------------------------------------
    MOBILE NAV
-----------------------------------------*/
.mobile-nav {
	display: none;
	@media (--1024vp) {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	& a {
		display: block;
		width: 50px;
		height: 45px;
		padding: 10px;
		margin-right: 10px;
		text-align: center;
		background-color: var(--PrimaryOne);
		&:first-child {
			background-color: var(--PrimaryThree);
		}
	}
	& svg {
		fill: var(--NeutralOne);
		height: 100%;
	}
	& .mobile-search-form {
		position: absolute;
		right: 0;
		max-width: 500px !important;
		width: 100%;
		margin-top: 6px;
		background: var(--PrimaryThree);
		overflow: hidden;
		max-height: 0 !important;
		transition: all .75s linear !important;
		&.is-active  {
			max-height: 200px !important;
		}
		& form {
			padding: 16px;
		}
		& input {
			width: 100% !important;
		}
		& label {
			left: calc(.5em + 16px) !important;
		}
		& svg {
			width: 30px;
			height: 1em;
		}
	}
}
.phone-mobile {
	width: 30px;
	height: 30px;
}
/*-----------------------------------------
    SEARCH BLOCK
-----------------------------------------*/
.search-block {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	@media (--1024vp) {
		display: none;
	}
	& > svg {
		margin-top: -1px;
	}
	#search-open.hidden {
		width: 0;
	}
}
#search-form {
	max-width: 300px;
	max-height: 2.3em;
	overflow: hidden;
	transition: max-width .75s linear;
	z-index: 2;
	&.hidden {
		max-width: 0;
		max-height: 2.3em;
	}
	& form {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		& label {
			position: absolute;
			padding: 0;
			left: .5em;
			color: var(--NeutralFive);
			transition: all .25s linear;
			&.selected {
				opacity: 0;
			}
		}
		& input {
			width: 200px;
			border-radius: 0;
			border: 0;
			padding: .5em;
			background-image: none;
		}
		& button {
			padding: .5em;
			padding-bottom: calc(.5em - 5px);
			font-size: 1em;
			margin: 0;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			& svg {
				display: inline-block;
				margin: 0;
			}
		}
	}
}