/*-----------------------------------------
    PAGE TITLE
-----------------------------------------*/
.home .page-title {
	min-height: 85vh;
	margin-bottom: 0;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 30%;
		height: 225px;
		background-image: url(../images/dots-white.svg);
		background-position: top left;
		background-size: 13px;
		z-index: 0;
		@media (--768vp) {
			height: 110px;
			width: 75%;
		}
	}
	& p {
		text-transform: uppercase;
	}
}
/*-----------------------------------------
    SERVICES
-----------------------------------------*/
.home .child-block {
	margin-top: 5rem;
	& .child-page-prview:nth-child(1) {
		@media (--1024vp) {
			overflow: visible;
		}
	}
}
/*-----------------------------------------
    MULTIPLE CTAS
-----------------------------------------*/
.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 925px;
	max-width: 90vw;
	margin: 100px auto;
	@media (--1024vp) {
		margin-top: 60px;
		width: 80vw;
		min-width: 0;
	}
	& .action {
		padding: 0 30px;
		width: 33.33%;
		position: relative;
		display: flex;
		flex-flow: column;
		&::after {
			content: '';
			position: absolute;
			width: 3px;
			right: 0;
			top: 0;
			height: 100%;
			background-image: url(../images/dots.svg);
			background-position: center;;
			background-size: 13px;
		}
		@media (--1024vp) {
			width: 100%;
			padding: 30px;
			border-right: none;
			&::after {
				right: 0;
				top: auto;
				bottom: 0;
				height: 3px;
				width: 100%;
				background-image: url(../images/dots.svg);
				background-position: center;;
				background-size: 13px;
			}
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
		& h3 {
			margin-top: 0;
			margin-bottom: 0;
			font-size: 1.5em;
		}
		& p {
			flex: 2 ;
		}
		& a.button {
			margin: 0;
			display: table;
		}
	}
}
/*-----------------------------------------
    NEWS PREVIEW
-----------------------------------------*/
.home-feed {
	&::before {
		content: '';
		position: absolute;
		width: 35vw;
		right: 0;
		height: 120px;
		background-image: url(../images/dots.svg);
		background-position: bottom right;
		background-size: 13px;
		z-index: -1;
	}
	& > h2 {
		width: 100%;
		text-align: center;
		margin: 0 0 50px 0;
	}
	& .post-preview {
		margin-bottom: 0;
		@media (--768vp) {
			&:first-of-type {
				margin-bottom: 50px;
			}
		}
	}
}