nav.letter-nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	@media (--515vp) {
		display: none;
	}
	& a {
		text-decoration: none;
		font-family: var(--HeadCopy);
		font-weight: bold;
		color: var(--NeutralFive);
		@media (--515vp) {
			display: block;
			width: 100%;
			margin: 0 0 4px 0;
		}
	}
}
.insurance-feed {
	@media (--515vp) {
		position: relative;
		padding-left: 20px;
	}
	& > h2 {
		width: 100%;
		margin-bottom: 0;
		text-transform: uppercase;
		&:first-of-type {
			@media (--515vp) {
				margin-top: 0;
			}
		}
	}
	& h3 {
		margin: 0;
		padding-left: .5em;
		font-size: 1.25em;
	}
	& a.letter-anchor {
		position: relative;
		top: -200px;
		display: block;
	}
}

.back-to-top {
	position: fixed;
	bottom: 14px;
	right: 14px;
}