.post-type-archive-location .default-contents {
	width: 50vw;
	min-width: 800px;

	@media (--1024vp) {
		width: 80vw;
		min-width: 0;
	}
}

.locations-container {
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;

	&::after {
		content: "";
		width: 32%;
	}

	& .single-location-preview {
		width: 32%;
		padding: 1em;
		margin-bottom: 1em;
		border: 2px solid var(--NeutralTwo);
		border-radius: 3px;

		@media (--1024vp) {
			width: 48%;
		}

		@media (--768vp) {
			width: 100%;
		}

		& h2 {
			margin: 0;
			color: inherit;
			text-decoration: underline;
			transition: all .15s linear;
		}

		& p {
			margin: 0 0 1em 0;
		}

		& a:first-of-type {
			text-decoration: none;
			color: #2956a9;
			transition: all .15s linear;

			&:hover,
			&:focus {
				color: #0084d5;
			}
		}

		& address {
			font-style: inherit;
		}
	}
}

/* single location */
.single-location {
	& .default-contents {
		width: 100%;
		margin-bottom: 0;

		&>article {
			display: flex;
			justify-content: flex-end;
			position: relative;
			padding-top: 200px;
			width: 80vw;
			margin: 0 auto;

			@media (--1024vp) {
				width: 95vw;
			}

			@media (--515vp) {
				width: 90vw;
				padding-top: 0;
				display: block;
			}

			&::after {
				content: "";
				position: absolute;
				height: 100px;
				height: 6.25rem;
				background-image: url(//qskafbesihp6.wpengine.com/wp-content/themes/starting-point/dist/styles/../images/dots.svg);
				background-position: 100% 100%;
				background-size: .8125rem;
				z-index: -1;
				width: 100vw;
				right: 0;
				bottom: 0;

				@media (--515vp) {
					bottom: -80px;
					right: 50px;
				}
			}

			& .map,
			& .intro {
				width: 60%;
			}

			& .map {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;

				@media (--515vp) {
					position: initial;
					margin-bottom: 50px;
					width: 100%;
				}
			}

			& .intro {
				background-color: var(--PrimaryOne);
				padding: 50px;
				z-index: 2;

				@media (--515vp) {
					width: 100%;
					padding: 2em;
				}

				&>*:first-child {
					margin-top: 0;
				}

				& h2,
				& h3,
				& h4,
				& p,
				& li,
				& address,
				& a:not(.button) {
					color: var(--NeutralOne);
				}

				& .button {
					margin: 25px 0 45px 0;
				}

				& address {
					font-style: initial;
				}
			}
		}

		& .services {
			width: 60vw;
			margin: 75px auto;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			@media (--1024vp) {
				width: 80vw;
			}

			&>*:not(.button) {
				width: 100%;
			}

			& h2 {
				& span {
					display: block;
					color: var(--PrimaryOne);
					font-size: 20px;
				}
			}

			& p:empty {
				display: none;
			}

			& .button:last-child {
				margin-top: 24px;
			}

			& .column {
				width: 50%;
				padding: 0 32px 0 0;

				@media (--515vp) {
					width: 100%;
					padding: 0;
				}

				&:nth-of-type(2n) {
					padding: 0 0 0 32px;

					@media (--515vp) {
						width: 100%;
						padding: 0;
					}
				}
			}

			& .cta-wrapper {
				width: 100%;
				display: flex;
				justify-cotent: flex-start;
			}
		}

		& .we-treat {
			width: 60vw;
			margin: 75px auto;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-wrap: wrap;

			@media (--1024vp) {
				width: 80vw;
			}

			&>*:not(.button) {
				width: 100%;
			}

			& .list {
				width: 35%;
				min-width: 300px;
				padding: 0 35px 0 0;

				&:nth-child(odd) {
					margin: 0;
				}
			}
		}

		& .staff {
			width: 60vw;
			margin: 75px auto;

			@media (--1024vp) {
				width: 80vw;
			}

			@media (--515vp) {
				width: 90vw;
			}

			& .staff-container:first-of-type {
				margin-top: 0;
			}

			& .staff-container h3 {
				width: 100%;
				border-bottom: 1px solid var(--NeutralTwo);
				padding-bottom: 16px;
			}

			& .staff-preview h3 {
				font-size: 20px;
				border: none;
				padding: 0;
			}
		}

		& .basic-cta:last-child {
			margin-bottom: 0;
			position: relative;

			&::after {
				content: "";
				position: absolute;
				height: 400px;
				width: 100px;
				background-image: url(//qskafbesihp6.wpengine.com/wp-content/themes/starting-point/dist/styles/../images/dots.svg);
				background-position: bottom right;
				background-size: .8125rem;
				z-index: -1;
				right: 0;
				top: -400px;
			}
		}
	}

	& .meet-staff {
		display: none;
	}
}