.cat-nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
.staff-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	opacity: 1;
	transition: all .75s linear;
	&.hide {
		max-height: 0;
		opacity: 0;
		margin: 0;
		overflow: hidden;
	}
	& h2 {
		width: 100%;
		margin: 0 0 .5em;
	}
}

.page-template-staff .basic-cta {
	position: relative;
	margin-bottom: 0;
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: -400px;
		width: 125px;
		height: 400px;
		background-image: url(../images/dots.svg);
		background-position: bottom right;
		background-size: 13px;
		z-index: 0;
		@media (--768vp) {
			display: none;
		}
	}
}

.staff-feed {
	width: 65vw;
}