/*-------------------------------------------------------------------
---------------------------------------------------------------------

  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

---------------------------------------------------------------------
-------------------------------------------------------------------*/


/*-----------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-----------------------------------------*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*-----------------------------------------
    STICKY NAV APPEAR
-----------------------------------------*/
@keyframes sticky {
	0% {
		transform: translateY(-500%);
	}
	100% {
		transform: translateY(0);
	}
}