/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
button, .button {
	display: inline-block;
	padding: 1em 2.2em;
	padding-bottom: calc(1em - .3125rem);
	margin: 0 .5em .5rem 0;
	cursor: pointer;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 5px solid var(--PrimaryOne);
	background: var(--PrimaryOne);
	font-family: var(--BodyCopy);
	font-weight: 300;
	font-size: .875em;
	letter-spacing: .75px;
	color: var(--NeutralOne);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .25s ease-in-out;
	@media (--768vp) {
		padding: .8em 1em;
		padding-bottom: calc(.8em - .3125rem);
	}
	&:hover, &:focus, &.is-hover {
		border-color: var(--PrimaryThree);
		color: var(--NeutralOne);
	}
	&:active, &.is-active {
		border-color: var(--PrimaryTwo);
		color: var(--NeutralOne);
	}
	&.is-secondary {
		background: var(--NeutralFive);
		color: var(--NeutralOne);
		border-bottom: 5px solid var(--NeutralFive);
		&:hover, &:focus, &.is-hover {
			border-color: var(--PrimaryThree);
		}
		&:active, &.is-active {
			border-color: var(--PrimaryOne);
		}
	}
	&.is-small {
		padding: .5em 1em;
		padding-bottom: calc(.5em - 3px);
		border-width: 3px;
		font-size: .875rem;
	}
}

/*-----------------------------------------
    SKIP NAV
-----------------------------------------*/
.anchor {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	top: -5vh;
}
.skip-nav {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 3vw;
	z-index: 2;
	transform: translateY(-100%);
	&:hover, &:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------------
    TWEET CONTENT
-----------------------------------------*/
.tweet-this {
	text-decoration: none;
	color: var(--NeutralFive);
	border-bottom: 1px dotted #00aced;
	&:hover {
		border-bottom: 1px solid #00aced;
	}
}
.twitter-share {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding: 3px;
	height: 1em;
	width: 1em;
	margin-left: 8px;
	background-color: #00aced;
	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 4px 6px 4px 0;
		border-color: transparent #00aced;
		display: block;
		width: 0;
		z-index: 1;
		margin-top: -4px;
		left: -6px;
		top: 50%;
	}
	& svg {
		fill: #fff;
		position: absolute;
	}
}

/*-----------------------------------------
    SOCIAL BUTTONS
-----------------------------------------*/
.social-button {
	width: 75px;
	height: 75px;
	display: inline-block;
	padding: 16px;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	& svg {
		width: 100%;
		height: auto;
		transition: all .25s ease-in-out;
	}
}