/*-----------------------------------------
    FORMS
-----------------------------------------*/

form {
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}
	& li {
		display: inline-block;
		width: 100%;
		position: relative;
		margin-bottom: 24px;
		padding-left: 0;
		&.half {
			width: 49%;
			margin-right: 1%;
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--768vp) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;
			}
		}
		&.third {
			width: 32.33%;
			margin-left: .5%;
			margin-right: .5%;
			&.first {
				margin-left: 0;
				margin-right: 1%;
			}
			&.last {
				margin-right: 0;
				margin-left: 1%;
			}
			@media (--768vp) {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
		&.block li {
			display: block;
		}
	}
	& button {
		border-top: none;
		border-left: none;
		border-right: none;
	}
}

.validation_message {
	display: none;
}

/*-----------------------------------------
    LABELS
-----------------------------------------*/

label {
	display: block;
	font-size: 1em;
	transition: all .25s linear;
	ul.gform_fields>li.hidden_label>& {
		display: none;
	}
	ul.gform_fields>li.label>& {
		position: initial;
		margin: 0 0 6px 0;
	}
	ul.gform_fields>li.selected.label>& {
		font-size: 1em;
		padding: 0;
	}
	ul.gform_fields>li>& {
		position: absolute;
		left: calc(1em + 2px);
		top: calc(1em + 2px);
		right: calc(1em + 2px);
	}
	ul.gform_fields>li.selected>& {
		top: -.5em;
		font-size: .75em;
		background-color: var(--NeutralOne);
		padding: 0 .75em;
	}
}

/*-----------------------------------------
    INPUTS
-----------------------------------------*/

input {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralTwo);
	border-radius: 3px;
	width: 100%;
	padding: 1em;
	background-repeat: no-repeat;
	background-position: center right .35em;
	background-size: 1.5em;
	&:focus {
		outline: none;
		border-color: var(--PrimaryOne);
	}
	&.is-activated,
	&.LV_valid_field {
		background-image: url('../images/vaild.svg');
	}
	&.LV_invalid_field {
		background-image: url('../images/invaild.svg');
	}
}

/*-----------------------------------------
    RADIO / CHECKBOXES
-----------------------------------------*/

input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: var(--NeutralFive);
		border-color: var(--NeutralFive);
	}
	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 1em;
	vertical-align: baseline;
	appearance: none;
	&:checked {
		background-color: var(--NeutralFive);
		border-color: var(--NeutralFive);
	}
	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;
	}
}

/*-----------------------------------------
    SELECT
-----------------------------------------*/

select {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralTwo);
	border-radius: 3px;
	padding: 1em;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center right 1.5em;
	background-size: 1.5em;
	&:focus {
		outline: none;
	}
	&.is-activated,
	&.LV_valid_field {
		background-image: url('../images/vaild.svg');
	}
	&.LV_invalid_field {
		background-image: url('../images/invaild.svg');
	}
}

/*-----------------------------------------
    TEXTAREA
-----------------------------------------*/

textarea {
	font-family: var(--BodyCopy);
	border: 2px solid var(--NeutralTwo);
	border-radius: 3px;
	padding: 1em;
	width: 100%;
	background-repeat: no-repeat;
	background-position: bottom .35em right .35em;
	background-size: 1.5em;
	&:focus {
		outline: none;
	}
	&.is-activated,
	&.LV_valid_field {
		background-image: url('../images/vaild.svg');
	}
	&.LV_invalid_field {
		background-image: url('../images/invaild.svg');
	}
}

/*-----------------------------------------
    DATEPICKER
-----------------------------------------*/

#ui-datepicker-div {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 300px;
	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}
	& .ui-icon:before {
		color: var(--PrimaryOne);
		font-size: 18px;
	}
	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;
		& .ui-icon:before {
			content: '<';
		}
		&.ui-state-disabled {
			display: none;
		}
	}
	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;
		& .ui-icon:before {
			content: '>';
			float: right;
		}
		&.ui-state-disabled {
			display: none;
		}
	}
	& .ui-datepicker-title {
		display: flex;
		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}
	& .ui-datepicker-today {
		background-color: var(--PrimaryOne);
		border-radius: 4px;
		& a {
			color: #FFF;
		}
	}
	& table {
		width: 100%;
		& td,
		& th {
			text-align: center;
		}
		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}