/*-----------------------------------------
    FONTS
-----------------------------------------*/


/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
	font-weight: bold;
	margin: 1em 0 .35em 0;
}
h1, .widget h1 { 
	color: var(--NeutralOne);
	font-size: 4.375em;
	@media (--768vp) {
		font-size: 2.85em;
	}
}
h2, .widget h2 {  
	color: var(--PrimaryTwo);
	font-size: 2.25em;
	@media (--768vp) {
		font-size: 2em;
	}
}
h3, .widget h3 {  
	color: var(--PrimaryOne);
	font-size: 1.625em;
}
h4, .widget h4 {  
	font-size: 1.25em
}
h5, .widget h5 {  
	font-size: 1.125em;
}
h6, .widget h6 {  
	font-size: 1em;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p, time, address {
	font-family: var(--BodyCopy);
	font-size: 1em;
	line-height: 1.5;
}
ol, ul {
	font-family: var(--BodyCopy);
	font-size: 1em;
  padding-left: 1.5rem;
}
li {  
	font-family: var(--BodyCopy);
  padding-left: 1em; 
	margin-bottom: .5em;
}
a {
	font-family: var(--BodyCopy);
	font-size: 1em;
	color: var(--PrimaryOne);
  &:hover, &:focus, &:active{
		color: var(--PrimaryTwo);
  }
}
hr {
  height: 2px;
	width: 100%;
  margin: 16px 0;
  background: var(--NeutralTwo);
  border: none;
}
blockquote, q {
  margin: 1em auto;
  padding: 1px 1.5rem;
	position: relative;
	width: 85%;
	padding: 1em;
	font-family: var(--BodyCopy);
	font-style: italic;
	&::after {
		content: '';
		width: 100px;
		height: 100px;
		left: -100px;
		top: 50%;
		margin-top: -50px;
		position: absolute;
		background-image: url('../images/quote.svg');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
	}
	@media (--768vp) {
		padding-top: 50px;
		&::after {
			width: 50px;
			height: 50px;
			top: 0;
			left: 50%;
			margin-top: 0;
			margin-left: -25px;
		}
	}
}
pre {
	margin-bottom: 0;
	& + .click-to-copy {
		text-decoration: underline;
		font-size: responsive 14px 14px; 
		font-range: 420px 1400px;
	}
}
code {
	background: #272822;
	color: #e5e5e5;
	display: inline-block;
	padding: .75rem .5rem;
	font-size: responsive 12px 12px; 
	font-range: 420px 1400px;
	max-width: 100%;
	max-height: 200px;
	overflow: auto;
}