/*-------------------------------------------------------------------

  PROCESSOR: POSTCSS
    http://postcss.org/
  SYNTAX: CSSNEXT
    http://cssnext.io/
  NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
    http://thesassway.com/advanced/modular-css-naming-conventions
  CSS Style: TABS
    http://www.sublimetext.com/docs/indentation
  CSS BASE: NORMALIZE
    https://necolas.github.io/normalize.css/
  FRAMEWORK: FLEX-BOX *SOON CSS GRID*
    https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   
-------------------------------------------------------------------*/


/*-----------------------------------------
    VARIABLES
-----------------------------------------*/
:root {
	--PrimaryOne: #0084d5;
	--PrimaryTwo: #2956a9;
	--PrimaryThree: #00B4EA;
	--NeutralOne: #ffffff;
	--NeutralTwo: #CCCCCC;
	--NeutralThree: #9F9F9F;
	--NeutralFour: #474747;
	--NeutralFive: #303136;
	--HeadCopy: 'proxima-nova';
	--SubHeadCopy: 'proxima-nova';
	--BodyCopy-Bold: 'proxima-nova';
	--BodyCopy: 'proxima-nova';
}

/*-----------------------------------------
    Media Queries
-----------------------------------------*/
@custom-media --515vp (width < 515px);
@custom-media --768vp (width < 768px);
@custom-media --1024vp (width < 1024px);
@custom-media --1200vp (width < 1200px);
@custom-media --1300vp (width < 1300px);

/*-----------------------------------------
    FORCES MEDIA QUERIES TO BE
		WRITTEN IN CORRECT ORDER
-----------------------------------------*/
div {
	@media (--1300vp) {
		box-sizing: inherit;
	}

	@media (--1200vp) {
		box-sizing: inherit;
	}

	@media (--1024vp) {
		box-sizing: inherit;
	}

	@media (--768vp) {
		box-sizing: inherit;
	}

	@media (--515vp) {
		box-sizing: inherit;
	}
}


/*-----------------------------------------
    UNVERSAL BOX-SIZING
-----------------------------------------*/
html {
	box-sizing: border-box;
}

body {
	padding-top: 26px;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------------
    ADMIN WP BAR
-----------------------------------------*/
body.admin-bar {
	margin-top: -32px;

	@media (--768vp) {
		margin-top: -46px;
	}
}

#wpadminbar {
	opacity: .25;
	position: fixed !important;
	top: -32px !important;
	transition: all .25s ease-in-out;

	@media (--768vp) {
		top: -46px !important;
	}

	&::after {
		content: "";
		left: 0;
		top: 100%;
		right: 0;
		height: 10px;
		position: absolute;
	}

	&:hover,
	&:focus {
		opacity: 1;
		top: 0 !important;
	}
}

/*-----------------------------------------
   WYSIWYG CLASSES
-----------------------------------------*/
.alignleft {
	float: left;
	margin: 8px 8px 8px 0;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.alignright {
	float: right;
	margin: 8px 0 8px 8px;

	@media (--515vp) {
		float: none;
		margin: 10px auto;
		display: block;
	}
}

.aligncenter {
	margin: 0 auto;
	display: block;
}

/*-----------------------------------------
   CONTENT WRAPPER
-----------------------------------------*/
.default-contents {
	width: 50vw;
	min-width: 800px;
	margin: 0 auto 75px auto;

	@media (--1024vp) {
		width: 80vw;
		min-width: 0;
	}

	& img,
	& svg {
		max-width: 100%;
		height: auto;
	}
}