/*-----------------------------------------
  	WPDISCUZ OVERRIDES
-----------------------------------------*/

.wc_editable_comment {
	disply: none;
}

#wpdiscuz-loading-bar {
	display: none !important;
}

#wpcomm .wc_notification_checkboxes input[type="checkbox"],
#wpcomm .wc_notification_checkboxes input[type="radio"] {
	display: inline-block;
	width: 14px;
	height: 14px;
}

#wpcomm .wc-comment-label {
	display: none;
}

.comments-area {
	margin: 150px auto 5vh !important;
	overflow: hidden !important;
	width: 100% !important;
	@media (--1024vp) {
		width: 90vw !important
	}
	&>h3 {
		padding: 0 !important;
		max-width: 100% !important;
	}
	& #wpcomm {
		max-width: 100%;
	}
}