/*-----------------------------------------
    LAYOUT
-----------------------------------------*/
.blog .default-contents, .archive .default-contents, .search .default-contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 0;
	width: 80vw;
	& aside {
		width: 230px;
		@media (--1024vp) {
			display: none;
		}
	}
	& .feed {
		width: calc(100% - 300px);
		min-width: 0;
		margin: 0;
		@media (--1024vp) {
			width: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			width: 35vw;
			right: 0;
			margin-top: -2em;
			height: 120px;
			background-image: url(../images/dots.svg);
			background-position: bottom right;
			background-size: 13px;
			z-index: -1;
		}
	}
	& .infinite-scroll {
		margin: 0 0 0 auto;
		width: calc(100% - 18.75rem);
		@media (--1024vp) {
			width: 100%;
		}
	}
}

/*-----------------------------------------
    POST FEED
-----------------------------------------*/
.feed {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.search-feed {
	& > h2 {
		width: 100%;
	}
	& > p {
		width: 100%;
		margin-top: 0;
	}
}

/*-----------------------------------------
  	PAGINATION
-----------------------------------------*/
.pagination, .posts-navigation {
	display: none;
}

/*-----------------------------------------
    INFINITE SCROLL
-----------------------------------------*/
.page-load-status {
	width: 100%;
	display: none;
  margin: 5vh auto;
	padding: 2vh 0;
  border-top: 1px solid var(--NeutralThree);
  color: var(--NeutralThree);
	text-align: center;
	& p {
		margin: 0;
	}
}
svg.loading path {
	fill: var(--PrimaryOne);
}
.load-more {
	margin: 5vh auto;
	display: none;
}

/*-----------------------------------------
    WIDGETS
-----------------------------------------*/
.widget {
	margin-top: 50px;
	&:first-child {
		margin-top: 0;
	}
	&.widget_categories {
		& label {
			display: none;
		}
	}
	& > h3 {
		margin-top: 0;
	}
	& img {
		width: 100%;
	}
}