.child-block {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto 75px auto;
}

.child-page-prview {
	position: relative;
	background-color: var(--PrimaryOne);
	padding: 90px 90px 125px 140px;
	width: 90vw;
	max-width: 700px;
	margin: 0 0 0 auto;
	@media (--1024vp) {
		width: 100%;
		max-width: 100%;
		padding: 50px 40px;
	}
	&:nth-child(even) {
		margin: 0 auto 0 0;
		background-color: var(--PrimaryTwo);
		@media (--1024vp) {
			padding-bottom: 120px;
			overflow: hidden;
		}
		& > img {
			position: absolute;
			right: auto;
			left: calc(100% - 150px);
			top: 60px;
			@media (--1024vp) {
				left: -125px;
				top: auto;
				bottom: -275px;
			}
		}
	}
	&:nth-child(3n) {
		background-color: var(--PrimaryThree);
		& h2, & p {
			color: var(--NeutralFive);
		}
		& img {
			position: relative;
			right: auto;
			top: auto;
			margin-bottom: 2em;
		}
	}
	&:first-of-type {
		&::after {
			content: '';
			position: absolute;
			height: 100px;
			background-image: url(../images/dots.svg);
			background-position: bottom right;
			background-size: 13px;
			z-index: -1;
			width: 100vw;
			right: 0;
			bottom: 0;
			@media (--1024vp) {
				display: none;
			}
		}
	}
	& *:nth-child(2) { 
		margin-top: 0;
	}
	& *:last-child {
		margin-bottom: 0;
	}
	& > img {
		position: absolute;
		right: calc(100% - 50px);
		top: calc(80px + 2.75em);
		z-index: 2;
		@media (--1024vp) {
			top: -35px;
			right: 40px;
		}
	}
	& h1, & h2, & h3, & h4,
	& h5, & h6, & p, & a {
		color: var(--NeutralOne);
		position: relative;
		z-index: 2;
	}
}


/*-----------------------------------------
   TWO COLUMN
-----------------------------------------*/
.two_col {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	& > h2 {
		width: 100%;
	}
	& > .block {
		width: 45%;
		@media (--768vp) {
			width: 100%;
		}
	}
}