/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/
header.page-title {
	margin-top: -26px;
	width: 100%;
	background-color: var(--NeutralTwo);
	background-image: url('../images/title-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 150px 0 0 0;
	position: relative;
	margin-bottom: 90px;
	min-height: 55vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@media (--768vp) {
		margin-bottom: 50px;
	}
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 103px;
		height: 80%;
		background-image: url(../images/dots-white.svg);
		background-position: bottom right;
		background-size: 13px;
		z-index: 0;
		@media (--1200vp) {
			width: 60px;
		}
		@media (--1024vp) {
			display: none;
		}
	}
	& > .block {
		width: 65vw;
		margin: 0 auto 4.375em auto;
		position: relative;
		z-index: 2;
		@media (--1024vp) {
			width: 90vw;
			margin: 0 auto;
		}
		& h1 {
			margin: 0 auto;
		}
		& p {
			color: var(--NeutralOne);
			max-width: 1100px;
			margin: .5em 0 2em 0;
			font-size: 1.375em;
			letter-spacing: .86px;
			@media (--768vp) {
				line-height: 1.25;
			}
		}
	}
}
.error404 header.page-title,
.page-template-thankyou header.page-title { 
	min-height: 75vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}