.page-intro {
	position: relative;
	background-color: var(--PrimaryOne);
	padding: 80px 80px 80px 125px;
	@media (--768vp) {
		padding: 10vw;
		margin-top: 150px;
	}
	&::after {
		content: '';
		position: absolute;
		right: -40%;
		top: -90px;
		width: 60%;
		height: 210px;
		background-image: url(../images/dots.svg);
		background-position: bottom right;
		background-size: 13px;
		z-index: -1;
		@media (--1300vp) {
			right: -20%;
		}
		@media (--1024vp) {
			right: -8vw;
		}
	}
	& *:nth-child(2) { 
		margin-top: 0;
	}
	& *:last-child {
		margin-bottom: 0;
	}
	& > img {
		position: absolute;
		right: calc(100% - 50px);
		top: calc(80px + 2.75em);
		@media (--768vp) {
			position: absolute;
			top: -110px;
			left: -25px;
		}
	}
	& h1, & h2, & h3, & h4,
	& h5, & h6, & p, & a {
		color: var(--NeutralOne);
	}
}
/*-----------------------------------------
   MOTUS PAGE
-----------------------------------------*/
.page-id-172 .page-intro img {
	@media (--768vp) {
		position: absolute;
		top: -6.875rem;
		left: auto;
		right: calc(60%);
		max-width: 300px;
	}
}
.page-id-174 .page-intro {
	@media (--768vp) {
		margin-top: 0;
	}
}

.page-id-174 .page-intro img {
	filter: brightness(0) invert(1);
	position: inherit;
	z-index: 1;
	right: 0;
	top: 0;
	margin-bottom: 2rem;
}