.basic-cta {
	padding: 75px;
	margin-bottom: 75px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-position: center center;
	& > .block {
		text-align: center;
		position: relative;
		max-width: 600px;
		z-index: 2;
		& h1, & h2, & h3, & h4,
		& h5, & h6, & p, & a {
			color: var(--NeutralOne);
		}
		& h1:first-child, & h2:first-child, & h3:first-child, & h4:first-child,
		& h5:first-child, & h6:first-child, & p:first-child {
			margin-top: 0;
		}
		& .button {
			margin: 2em 0 0 0;
		}
	}
	& .overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: color( var(--PrimaryOne) alpha(56%) );
	}
		
}