/*-----------------------------------------
    AWARDS SLIDER
-----------------------------------------*/
.awards {
	width: 124%;
	margin-left: -12%;
	position: relative;
	margin-top: 2em;
	margin-bottom: 2em;
	@media (--1024vp) {
		width: 90vw;
		margin-left: -5vw;
	}
	& .single-award {
		padding: 0 12px;
		& img {
			width: 100%;
			height: auto;
		}
	}
	& .slick-arrow {
		position: absolute;
		top: 50%;
		margin-top: -22px;
		cursor: pointer;
		@media (--1024vp) {
			display: none !important;
		}
		&.slick-prev {
			left: -64px;
		}
		&.slick-next {
			right: -64px;
		}
	}
}