.meet-staff {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
	& > h2 {
		display: block;
		width: 100%;
		margin-bottom: 85px;
		text-align: center;
	}
	& > article {
		width: 33.33%;
		padding: 55px 30px 30px 30px;
		text-align: center;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@media (--1024vp) {
			width: 50%;
		}
		@media (--768vp) {
			width: 100%;
		}
		&:nth-of-type(1) {
			background-color: var(--PrimaryTwo);
			&::before {
				content: '';
				position: absolute;
				left: 0;
				top: -65px;
				width: 150%;
				height: 85px;
				background-image: url(../images/dots.svg);
				background-position: top right;
				background-size: 13px;
				z-index: -1;
				@media (--768vp) {
					width: 75%;
				}
			}
		}
		&:nth-of-type(2) {
			background-color: var(--PrimaryOne);
			@media (--768vp) {
				display: none;
			}
		}
		&:nth-of-type(3) {
			background-color: var(--PrimaryThree);
			& h3, & h4 {
				color: var(--NeutralFive);
			}
			@media (--1024vp) {
				display: none;
			}
		}
		& img {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			position: absolute;
			top: -35px;
			left: 50%;
			margin-left: -35px;
		}
		& h3, & h4 {
			color: var(--NeutralOne);
			width: 100%;
			margin: 0;
			line-height: 1.125em;
			letter-spacing: 1px;
		}
		& h4 {
			margin-top: .5em;
			text-transform: uppercase;
		}
		& a.button {
			display: block;
			margin: 2em 0 0 0;
		}
	}
}