.post-preview {
	display: flex; 
	width: 48%;
	margin-bottom: 50px;
	@media (--768vp) {
		width: 100%;
	}
	& article {
		background-color: var(--NeutralOne);
		display: flex;
		flex-direction: column;
		width: 100%;
		& a {
			text-decoration: none;
			color: inherit;
		}
		/*-----------------------------------------
				HEADER
		-----------------------------------------*/
		& header {
			& .featured-image {
				height: 200px;
				width: 100%;
				background-size: cover;
				background-position: center center;
			}
			& h1 {
				font-size: 1.625em;
				margin: 25px 0 10px 0;
				color: var(--PrimaryOne);
			}
		}
		/*-----------------------------------------
				EXCERPT
		-----------------------------------------*/
		& blockquote {
			flex: 2;
			width: 100%;
			margin: 0;
			padding: 0;
			border: none;
			background-color: transparent;
			&::after {
				display: none;
			}
			& p {
				font-size: 1rem;
				color: var(--NeutralFive);
				margin: 0;
			}
		}
	}
}
