.staff-preview {
	width: 48%;
	padding: 1em;
	padding-left: calc(1em + 95px);
	position: relative;
	transition: all .35s linear;
	&.doctor:hover, &.doctor:focus {
		transform: scale(1.1); 
	}
	@media (--768vp) {
		width: 100%;
	}
	& img {
		width: 75px;
		height: 75px;
		position: absolute;
		left: 1em;
		top: 1em;
		border-radius: 50%;
	}
	& svg {
		height: 30px;
		width: 30px;
		position: absolute;
		left: 70px;
		top: 14px;
	}
	& h3 {
		margin-top: 0;
		font-size: 1.5em;
	}
	& a {
		text-decoration: none;
	}
	& p {
		margin-top: 8px;
		margin-bottom: 0;
	}
	& .location span {
		border-right: 1px solid #000;
		padding: 0 .25em 0 0;
		&:last-of-type {
			border-right: 0;
		}
	}
	&.doctor .title {
		display: none;
	}
}