/*-----------------------------------------
  	META DATA
-----------------------------------------*/

.single-post .post-title::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 132, 213, .56);
}

.single-post .post-title .block {
	z-index: 2;
}

article footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 80vw;
	margin: 16px auto;
	padding: 8px;
	background-color: var(--NeutralOne);
	&>* {
		margin: 0 14px;
		display: inline-block;
		&:first-child {
			margin-left: 0;
		}
	}
}

.single-post .default-contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& aside {
		width: 230px;
		@media (--1024vp) {
			display: none;
		}
	}
	& article {
		width: calc(100% - 300px);
		min-width: 0;
		margin: 0;
		@media (--1024vp) {
			width: 100%;
		}
	}
}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/

.search-feed {
	& .post-preview {
		& .search-term {
			padding: 0 .35rem;
			background: var(--PrimaryThree);
		}
	}
}

/*-----------------------------------------
  	COMMENTS
-----------------------------------------*/

.comments-area {
	position: relative;
	overflow: visible !important;
	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: -100px;
		width: 225px;
		height: 175px;
		background-image: url(../images/dots.svg);
		background-position: top left;
		background-size: 13px;
		z-index: -1;
	}
}