/*-----------------------------------------
    LAYOUT
-----------------------------------------*/
.single-staff .default-contents {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& aside {
		width: 230px;
		@media (--1024vp) {
			width: 100%;
			margin: 0 auto 75px auto;
		}
		& > .inner-wrapper-sticky {
			@media (--1024vp) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}
		}
		& .staff-headshot {
			@media (--1024vp) {
				width: 50%;
			}
			@media (--768vp) {
				width: 100%;
			}
			& img {
				border-radius: 50%;
			}
		}
		& .stafff-location {
			@media (--1024vp) {
				width: 45%;
				& h4:first-of-type {
					margin-top: 0
				}
			}
			@media (--768vp) {
				width: 100%;
			}
		}
		& h3 {
			margin-bottom: 1em;
		}
		& nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: 50px;
			& a {
				text-decoration: none;
			}
		}
		& h4 {
			color: var(--PrimaryOne);
		}
		& .acf-map {
			height: 175px;
			margin: 0;
			& + p {
				margin-top: 4px;
			}
		}
		& > .button {
			width: 100%;
		}
	}
	& article {
		width: calc(100% - 300px);
		@media (--1024vp) {
			width: 100%;
		}
		& > h2:first-child {
			margin-top: 0;
		}
	} 
}
/*-----------------------------------------
    AWARDS
-----------------------------------------*/
.award-block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: space-between;
	&::after {
		content: "";
		flex: auto;
		margin: 0 1% 1em 1%;
	}
	& .award {
		width: 23%;
		margin: 0 1% 1em 1%;
		@media (--1024vp) {
			width: 31%
		}
		@media (--768vp) {
			width: 48%
		}
		& img {
			width: 100%;
			height: auto;
		}
	}
}
/*-----------------------------------------
    INSURANCES
-----------------------------------------*/
.accordion-head {
	display: block;
	border-bottom: 1px solid var(--NeutralTwo);
	position: relative;
	padding: 0 35px .35em 0;
	cursor: pointer;
	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 50%;
		height: .7em;
		width: .7em;
		margin-top: -.35em;
		background-image: url('../images/accordion.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		transition: all .35s linear;
	}
	&.open::after {
		transform: rotate(180deg);
	}
}
.accordion-content {
	overflow: hidden;
	height: auto;
	max-height: 0;
	transition: all .35s linear;
	&.open {
		max-height: 3000px;
	}
}